body{
}
.pattern-type {
  display: flex;
  flex-wrap: wrap;      
  gap: 16px;            
}

.pattern-type-title {
  flex: 0 0 100%;       /* This "pushes" the other divs to the next line */
}

.pattern {
  flex: 1;              
  min-width: 200px;     
  padding: 15px;
  border: 1px solid #ddd;
}

