@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
body, html {
  height: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}




}


