/* common to all */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box; /* Prevents padding from adding to width */
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;

}

body {
    width: 100%;
    justify-content: center!important; /* Centers horizontally */
    align-items: center!important;     /* Centers vertically */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

section {
    width: 90%;
    margin:0 auto;
    scroll-margin-top: 50px;
    padding: 20px;
}

.actionbuttondiv {
    text-align: center;
    padding: 20px;
}

.grid-item img {
    margin: 0 auto 8px auto;
}
.grid-item .logo-text {
    margin-bottom: 5px;
}
footer {
    margin-top: 50px;
}
footer p {
    margin: 0;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify-center { justify-content: center !important; }
.mirror-horizontal { transform: scaleX(-1); }


 .title-top {
    max-width:90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
