         body, html {
         	font-family: 'Segoe UI', sans-serif;
			color: #333333;
         }
	h2 {
         	margin-top: 10px;
         	margin-bottom: 10px;
			font-size: 2.0rem;
			 color: #0070d2;
         }
	h3 {
         	margin-top: 5px;
         	margin-bottom: 5px;
			font-size: 1.6rem;
			color: #00b0e4;
         }
    h4 {
         	margin-top: 0px;
         	margin-bottom: 5px;
			font-size: 1.5rem;
         }
    h5 {
         	margin-top: 0;
         	margin-bottom: 0;
			font-size: 1.2rem;
         }
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 200;
    letter-spacing: 1px;
	}
	
    .profile{
         	max-width: 1000px; 
         	margin-left: auto;
         	margin-right: auto;
         	min-height: 100vh;
         }
	.title{
         	max-width: 1000px; 
         	margin-left: auto;
         	margin-right: auto;
         	min-height: 100vh;
         }
    .company{
         	padding-top: 15px;
         	padding-left: 15px;
         	padding-bottom: 9px;
         	padding-right: 9px;
         	border-radius: 25px; 
         	overflow: hidden; 
			font-family: 'Segoe UI', sans-serif;
    		font-size: 20px;
    		line-height: 1.5;
    		margin-bottom: 20px;
    		display: block;
   			margin-block-start: 1em;
    		margin-block-end: 1em;
    		margin-inline-start: 0px;
    		margin-inline-end: 0px;
    		unicode-bidi: isolate;
			color: #333;
         }
.image2-wrapper {
	/* 
  		background-color: white; 
	  	border: 1px solid white;  
		border-radius: 15px;
		background-clip: padding-box;
		display: inline-block;    */
}
		.img1{
			display: block; 
            width: auto; 
            height: 150px; 
			/*
            border: 1px solid #f9f9f7; 
            border-radius: 9px;
			*/
		}
		.img2{
			display: block; 
            width: auto; 
            height: 150px; 
			/*
            border: 1px solid white;
            border-radius: 15px;
			background-clip: padding-box;
			*/
			background-color: white; 
			padding: 20px;           
		}

