body, html { font-family: 'Segoe UI', sans-serif; color: #333333; }
h2 { margin-top: 10px; margin-bottom: 10px; font-size: 2.0rem; color: #0070d2; }
h3 { margin-top: 5px; margin-bottom: 5px; font-size: 1.6rem; color: #00b0e4; }
h4 { margin-top: 0px; margin-bottom: 5px; font-size: 1.5rem; }
h5 { margin-top: 0; margin-bottom: 0; font-size: 1.2rem; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1.2; font-weight: 200; letter-spacing: 1px; }
.profile { max-width: 1000px; margin-left: auto; margin-right: auto; min-height: 100vh; }
.title { max-width: 1000px; margin-left: auto; margin-right: auto; min-height: 100vh; }
.company {color: #333; background-color: #f4f3ef; border-radius: 25px; overflow: hidden; font-family: 'Segoe UI', sans-serif; font-size: 18px; padding-top: 15px; padding-left: 15px; padding-bottom: 9px; padding-right: 9px; line-height: 1.5; margin-bottom: 20px; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; unicode-bidi: isolate; }
.image2-wrapper { overflow-x: auto; }
.img1 { display: block; width: auto; height: 150px; }
.img2 { display: block; width: auto; height: 150px; }
.accordion-container-vertical { display: flex; flex-direction: column; width: 100%; margin-left: auto; margin-right: auto; }
.accordion-item { cursor: pointer; background-color: #f9f9f7; border: 0px solid #ccc; border-radius: 8px; padding: 10px; box-sizing: border-box; margin-bottom: 15px; }
.accordion-item .content { max-height: 0; overflow: hidden; transition: max-height 0.5s ease-out, opacity 0.3s ease-out; opacity: 0; padding: 0 30px; }
.accordion-item h2 { margin-top: 0; }
.accordion-item.active .content { max-height: 1000px; opacity: 1; }
.accordion-item.active .content, .company { padding-top: 15px; padding-left: 15px; padding-bottom: 9px; padding-right: 9px; border-radius: 25px; font-family: 'Segoe UI', sans-serif; font-size: 20px; line-height: 1.5; unicode-bidi: isolate; margin-bottom: 20px; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; color: #333; background-color: #f9f9f7; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.no-indent-list { padding: 0 !important; margin: 0 !important; list-style-type: none !important; width: 95%; }
.no-indent-list li { padding: 0 !important; margin: 0 !important; }

